<div class="square-viewport">
  <form id="payment-form">
    <div id="card-container">
      <h3>Card container!</h3>
    </div>
    <button id="card-button" class="btn" type="button">Pay $1.00</button>
  </form>
  <div id="payment-status-container"></div>
</div>
