<div class="square-viewport">
  <form id="payment-form">
    <div id="card-container">
      <h3>{{ output }}</h3>
    </div>
    <button id="card-button" class="btn" type="button">Pay {{ registration_price }}</button>
  </form>
  <div id="payment-status-container"></div>
</div>
